@import "variables.css";
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,
ul {
  padding: 0;
}
ul {
  list-style-type: none;
}
#header {
  height: 128px;
  font: 12px arial;
  background-color: #fecc01;
  background-image: -webkit-repeating-linear-gradient(315deg, transparent, transparent 35px, rgba(0,0,0,0.9) 35px, #000 70px);
  background-image: repeating-linear-gradient(135deg, transparent, transparent 35px, rgba(0,0,0,0.9) 35px, #000 70px);
}
#header div div {
  background-color: #fecc02;
  font-weight: bold;
  font: 60px arial;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
}
#tbody {
  background: #efede2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efede2), color-stop(100%, #d3ded7));
  background: -webkit-linear-gradient(top, #efede2 0%, #d3ded7 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#efede2), to(#d3ded7));
  background: linear-gradient(to bottom, #efede2 0%, #d3ded7 100%);
}
.timing p {
  color: #666;
  font: 19px verdana;
  margin: 16px 0;
}
.title-green {
  color: #008403;
}
.title-yellow {
  color: #a47400;
}
.title-red {
  color: #bc0000;
}
#roundGreen {
  background-image: url("paper.gif");
}
#roundYellow {
  background-image: url("paper.gif");
}
#roundRed {
  background-image: url("paper.gif");
}
#roundGreen,
#roundYellow,
#roundRed {
  font: 61px arial;
  font-weight: bold;
}
#timingLabel li {
  color: #666;
  font: 19px verdana;
  width: 187px;
  height: 35px;
  border: 1px solid #9a9a9a;
  border-radius: 3px;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #d6d6d6));
  background: -webkit-linear-gradient(top, #fff 0%, #d6d6d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#d6d6d6));
  background: linear-gradient(to bottom, #fff 0%, #d6d6d6 100%);
  margin: 15px 0;
  text-align: center;
  vertical-align: middle;
}
.line-time div {
  border: 1px dashed #9a9b98;
  position: absolute;
  top: 225px;
}
#footer {
  background: #1e532e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e532e), color-stop(100%, #102f0d));
  background: -webkit-linear-gradient(top, #1e532e 0%, #102f0d 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#1e532e), to(#102f0d));
  background: linear-gradient(to bottom, #1e532e 0%, #102f0d 100%);
  height: 150px;
}
